{% extends 'base.html' %} 

{% block styles %}
{{ super () }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Aclonica&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
  
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a class="Lifestyle" href="/blog/lifestyle" style="font-size: 30px; text-align: center; color: black; 
      ">LIFESTYLE BLOGS</a><br>
      <img
        src="https://cdn.pixabay.com/photo/2017/10/23/05/56/holiday-2880261_960_720.jpg" 
        alt="" width="60%" height="300px"
      />
    </div>

    <div class="col-md-12">
        <a class="Travel" href="/blog/travel_blogs" style="font-size: 30px;  color: black;" >TRAVEL BLOGS</a><br>
      <img
        src="https://cdn.pixabay.com/photo/2014/08/12/00/01/oia-416135_960_720.jpg"
        alt="" width="60%" height="300px"
      />
    </div>
  </div>

 
</div>
</div>

{% endblock %}