<div class="container-fluid welcome-page">
    <div class="container-fluid">
            <div class="jumbotron">
                    <h1 class="display-4">SEAL OF STYLES</h1>
                    <p>All about fashion style, beauty,travel and lifestyle</p>
                    
                  </div>
        <div class="row">
            <div class="col-md-12 welcome">
                
                <a id="start" class="btn btn-danger animated infinite flash" href="{{url_for('main.new_pitch')}}">
                    blogs</a>
                
                <a id="start" class="btn btn-danger animated infinite flash" href="{{url_for('auth.login')}}">Sign
                    In</a>
                
            </div>
        </div>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </div>
</div>
{% endblock %}