{% macro displayBlog(blog_list) %}
<div class="row">
	{% if blog_list %}
		{% for blog in blog_list %}
		<div class="col-md-6">
			<div class="thumbnail text-center">
			<h5 class="card-header">{{blog.title}}</h5>
			<h5 class="card-header">{{blog.blog}}</h5>
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<h2>{{blog.blog_content}}</h2>
					<footer class="blockquote-footer"> Posted by {{blog.user.username}}<a href="/blog/{{blog.id}}" class="btn btn-primary pull-right">comment</a></p></footer>
				</blockquote>
				
				
			</div>
		</div>

		</div>
		{% endfor %}
	{% else %}
	{% endif %}
</div>
{% endmacro %}

{% macro displayComments(comments_list) %}
<ul>

			{% if comments %}
			{% for comment in comments_list %}
				<div class="row text-center">
						<a><p style="color: blue">{{comment.comment}}</p></a>
				</div>
			{% endfor %}
			{% else %}

			<h3>The comments do not exist in this post yet !</h3>
			{%endif%}

	</ul>
{% endmacro %}

{% macro displayLifestyleBlog(blogs)%}
    {% for blog in blogs %}
        <div class="col-md-3">
            <li class="list-group-item">
                <p>{{blog.blog_title}}</p>
                <p>{{blog.blog_content}}</p>
                <a class="btn bg-primary" href="/blog/comment/{{blog.id}}">Comments</a>
            </li>
        </div>
    {% endfor%}
{% endmacro %}